/**
    Name: Abhishek Upadhyaya
    BioSite Styles
**/

body {
    font-family: Oswald, Verdana, Arial, sans-serif;
    font-weight: 300;
    margin: 0px;
    height: 100%;
}

header {
    background-color: #11396B;
    background-image: url("images/header-background.png");
    color: #ffffff;
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    height: 200px;
}

.spacer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.avatar-container {
    vertical-align: middle;
    white-space: nowrap;    
    text-align: center;
    margin: 1em 0;
}

.avatar {
    padding: 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.header-title {
    text-align: left;
    white-space: nowrap;    
    margin: 1em 0;
    font-weight: 400;
    font-size: 52px;
}

.breadcrumb {
    padding: 5px;
    font-style: normal;
}

.breadcrumb span {
    margin-left: 2px;
    margin-right: 2px;
    font-style: normal;
}

.breadcrumb a {
    color: #11396B;
    text-decoration: underline;
}

.main {
    height: 60%;
}

.container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 85% 15%;
    height: 50%;
    overflow-y: auto;
}

.contents {
    border:  2px solid #11396B;
    border-radius: 15px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 5px;
}

.right-nav {
    margin-left: 5px;
    border-left: solid 1px #11396B;
    padding-left: 20px;
    margin-bottom: 20px;
}

.right-nav a {
    text-decoration: none;
    color: #11396B;
}

.right-nav a:hover {
    text-decoration: underline;
}

.inline-image {
    padding: 15px;
}

.inline-image:after {
    content: '';
    display: block;
    clear: both;
}

.left-image {
    float: left;
    margin-right: 10px;
    width: 20%;
    height: 25%;
}

.left-image-oval {
    float: left;
    margin-right: 10px;
    border-radius: 60%;
    width: 20%;
    height: 25%;
}

.right-image {
    float: right;
    margin-left: 10px; 
    width: 20%;
    height: 20%;
}

.right-image-oval {
    float: right;
    margin-left: 10px; 
    border-radius: 60%;
    width: 20%;
    height: 25%;
}

.footer {
    background-color: #11396B;
    color: #ffffff;
    width: 100%;
    float: right;
    position: relative;
    font-size: 12px;
    bottom: 0;
    padding-left: 5px;
}

.footer p {
    margin-left: 10px;
}